<% if @product.ad_hoc_option_types && !@product.ad_hoc_option_types.empty? %>
<% lookup=ActionView::LookupContext.new(ActionController::Base.view_paths, {:formats => [:html]}) %>

<div id="ad_hoc_options" style="overflow: auto;">
<%= "<h4>*#{t(:not_all_combinations_available)}</h4>".html_safe if !@product.ad_hoc_variant_exclusions.empty? %>

<%= field_set_tag t(:select_variant_options) do %>

<% @product.ad_hoc_option_types.each do |ahot|
  ot=ahot.option_type
  class_str='ad-hoc-option-select'
  class_str += ' required' if ahot.is_required
  class_str += ' ad_hoc' if !@product.ad_hoc_variant_exclusions.empty? %>
  <% # render a custom partial based on the option type name? %>
  
  <% if lookup.exists?("products/ad_hoc_options/#{ot.name}",nil,true) %>
    <%= render :partial => "products/ad_hoc_options/#{ot.name}", :locals => {:option_type=>ahot} %> 
  <% else %>
    <label><%= ot.presentation %></label>
    <% if ahot.allow_multiple_choice %>
      <% ahot.option_values.each do |ah_ov| %>
        <label>
        <%= check_box_tag "ad_hoc_option_values[#{ahot.id}][]", ah_ov.id.to_s, false, :class => class_str, :price_mod => ah_ov.price_modifier %>
        <span class="variant-description"><%= "#{ah_ov.option_value.presentation}"%></span>
        <span class="price diff"><%= "(#{plus_or_minus ah_ov} #{format_price ah_ov.price_modifier.abs})"%></span>
        </label>
      <% end %>
    <% else%>
      <% unless ahot.is_required %>
        <label>
        <%= radio_button_tag "ad_hoc_option_values[#{ahot.id}][]", nil, false, :class => class_str, :price_mod => 0 %>
        <span class="variant-description">None</span>
        <span class="price diff"><%= "(#{format_price 0})"%></span>
        </label>      
      <% end %>
      <% ahot.option_values.each do |ah_ov| %>
        <label>
        <%= radio_button_tag "ad_hoc_option_values[#{ahot.id}][]", ah_ov.id.to_s, false, :class => class_str, :price_mod => ah_ov.price_modifier %>
        <span class="variant-description"><%= "#{ah_ov.option_value.presentation}"%></span>
        <span class="price diff"><%= "(#{plus_or_minus ah_ov} #{format_price ah_ov.price_modifier.abs})"%></span>
        </label>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<% end # field set%> 
</div>
<% end %>
